<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-promobar" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>

    <?php if ($error_warning) { ?>
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
        </div>
        <div class="panel-body">
            <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-promobar" class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                    <div class="col-sm-10">
                        <select name="module_promobar_status" id="input-status" class="form-control">
                            <?php if ($module_promobar_status) { ?>
                            <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                            <option value="0"><?php echo $text_disabled; ?></option>
                            <?php } else { ?>
                            <option value="1"><?php echo $text_enabled; ?></option>
                            <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-text"><?php echo $entry_text; ?></label>
                    <div class="col-sm-10">
                        <textarea name="module_promobar_text" rows="3" id="input-text" class="form-control"><?php echo $module_promobar_text; ?></textarea>
                        <span class="help-block"><?php echo $help_text; ?></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-link"><?php echo $entry_link; ?></label>
                    <div class="col-sm-10">
                        <input type="text" name="module_promobar_link" value="<?php echo $module_promobar_link; ?>" placeholder="<?php echo $entry_link; ?>" id="input-link" class="form-control" />
                        <span class="help-block"><?php echo $help_link; ?></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-clickable"><?php echo $entry_clickable; ?></label>
                    <div class="col-sm-10">
                        <select name="module_promobar_clickable" id="input-clickable" class="form-control">
                            <?php if ($module_promobar_clickable) { ?>
                            <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                            <option value="0"><?php echo $text_no; ?></option>
                            <?php } else { ?>
                            <option value="1"><?php echo $text_yes; ?></option>
                            <option value="0" selected="selected"><?php echo $text_no; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-bg-color"><?php echo $entry_bg_color; ?></label>
                    <div class="col-sm-10">
                        <div class="input-group color">
                            <input type="text" name="module_promobar_bg_color" value="<?php echo $module_promobar_bg_color; ?>" placeholder="<?php echo $entry_bg_color; ?>" id="input-bg-color" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default colorpicker-btn" data-colorformat="hex" data-color="<?php echo $module_promobar_bg_color; ?>"><i class="fa fa-caret-down"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-text-color"><?php echo $entry_text_color; ?></label>
                    <div class="col-sm-10">
                        <div class="input-group color">
                            <input type="text" name="module_promobar_text_color" value="<?php echo $module_promobar_text_color; ?>" placeholder="<?php echo $entry_text_color; ?>" id="input-text-color" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default colorpicker-btn" data-colorformat="hex" data-color="<?php echo $module_promobar_text_color; ?>"><i class="fa fa-caret-down"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-speed"><?php echo $entry_speed; ?></label>
                    <div class="col-sm-10">
                        <input type="number" name="module_promobar_speed" value="<?php echo $module_promobar_speed; ?>" placeholder="<?php echo $entry_speed; ?>" id="input-speed" class="form-control" min="5" max="120" />
                        <span class="help-block"><?php echo $help_speed; ?></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-date-start"><?php echo $entry_date_start; ?></label>
                    <div class="col-sm-10">
                        <div class="date input-group" id="date-start">
                            <input type="text" name="module_promobar_date_start" value="<?php echo $module_promobar_date_start; ?>" placeholder="<?php echo $entry_date_start; ?>" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-date-end"><?php echo $entry_date_end; ?></label>
                    <div class="col-sm-10">
                        <div class="date input-group" id="date-end">
                            <input type="text" name="module_promobar_date_end" value="<?php echo $module_promobar_date_end; ?>" placeholder="<?php echo $entry_date_end; ?>" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-display-pages"><?php echo $entry_display_pages; ?></label>
                    <div class="col-sm-10">
                        <select name="module_promobar_display_pages" id="input-display-pages" class="form-control">
                            <option value="all" <?php echo ($module_promobar_display_pages == 'all') ? 'selected' : ''; ?>><?php echo $option_all; ?></option>
                            <option value="home" <?php echo ($module_promobar_display_pages == 'home') ? 'selected' : ''; ?>><?php echo $option_home; ?></option>
                            <option value="category" <?php echo ($module_promobar_display_pages == 'category') ? 'selected' : ''; ?>><?php echo $option_category; ?></option>
                            <option value="product" <?php echo ($module_promobar_display_pages == 'product') ? 'selected' : ''; ?>><?php echo $option_product; ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-duplicate"><?php echo $entry_duplicate; ?></label>
                    <div class="col-sm-10">
                        <select name="module_promobar_duplicate" id="input-duplicate" class="form-control">
                            <?php if ($module_promobar_duplicate) { ?>
                            <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                            <option value="0"><?php echo $text_no; ?></option>
                            <?php } else { ?>
                            <option value="1"><?php echo $text_yes; ?></option>
                            <option value="0" selected="selected"><?php echo $text_no; ?></option>
                            <?php } ?>
                        </select>
                        <span class="help-block"><?php echo $help_duplicate; ?></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
$('.date').datetimepicker({
    pickTime: false,
    language: 'ru'
});
//--></script>

<script type="text/javascript"><!--
$('.colorpicker-btn').each(function() {
    $(this).colorpicker({
        format: 'hex'
    });
});
//--></script>

<?php echo $footer; ?>
